# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments
venv/
.venv/

# ChromaDB
chroma_storage/
backend/chroma_storage/

# User data
user_notes/

# Node
node_modules/
package-lock.json

# System/Editor
.DS_Store
Thumbs.db
.vscode/
.idea/
.env

# Machine Learning binaries
*.pth
*.pt
*.h5
*.ckpt
*.joblib
*.pkl
*.npy
*.npz
*.dylib
*.so
*.onnx

# Logs
*.log

# ML output folders
runs/
output/
checkpoints/
*.tensorboard/