fastapi
uvicorn
langchain
langchain-community
langchain-chroma
langchain-text-splitters
langchain_groq
pytesseract
pillow
python-dotenv
transformers
torch
sentence-transformers
chromadb
pymupdf
python-multipart
passlib[bcrypt]
bcrypt>=4.0,<4.1