fastapi
uvicorn
langchain
langchain-community
langchain-chroma
langchain_groq
pytesseract
pillow
python-dotenv
transformers
torch
sentence-transformers
chromadb
pymupdf
redis
langchain-redis
python-multipart